.nav{
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: white;
    
}
.nav-links{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 0;
    border: none;
    outline: none;
    list-style-type: none;
}